<div class="container">
  <h2>IDM-VTON Try-On Demo</h2>
  
  <div class="input-group">
    <div>
      <label>Upload person image :</label>
      <input type="file" (change)="onPersonFileSelected($event)" accept="image/*">
      <div *ngIf="personPreview" class="image-preview">
        <img [src]="personPreview" alt="Person Preview">
        <span class="image-preview-label">Person Image</span>
      </div>
    </div>

    <div>
      <label>Upload garment image:</label>
      <input type="file" (change)="onGarmentFileSelected($event)" accept="image/*">
      <div *ngIf="garmentPreview" class="image-preview">
        <img [src]="garmentPreview" alt="Garment Preview">
        <span class="image-preview-label">Garment Image</span>
      </div>
    </div>

    <div>
      <label>Cloth description</label>
      <input type="text" 
             [(ngModel)]="clothDescription" 
             placeholder="e.g., blue striped t-shirt, red hoodie, formal shirt...">
    </div>
  </div>

  <button class="try-on-button" 
          [class.loading]="isLoading"
          (click)="tryOn()" 
          [disabled]="!personBase64 || !garmentBase64 || isLoading">
    {{ isLoading ? 'Processing...' : 'Try on outfit' }}
  </button>

  <hr>

  <div *ngIf="resultBase64" class="result">
    <h3>Virtual try-on result</h3>
    <img [src]="resultBase64" alt="VTON Result Image">
  </div>
  
  <div *ngIf="error" class="error">
     {{ error }}
  </div>
</div>